<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>שבט אחים</title>
    <link rel="stylesheet" href="theme/css/bulma.min.css">
    <link rel="stylesheet" href="theme/css/bulma-carousel.min.css">
    <link rel="stylesheet" href="theme/css/main.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                שבט אחים
            </h1>
            <p class="subtitle">
                אירוח אוטנטי באווירה כפרית | סדנאות, פעילויות וימי גיבוש לקבוצות, חברות, מנהלים ומתעניינים
            </p>

        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-multiline">
                {% for article in articles %}
                    <div class="column is-half is-flex">
                        <div class="box">
                            <h2 class="title is-size-4">{{ article.title }}</h2>
                            {% include 'includes/carousel.html' %}
                            {{ article.content }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="has-text-centered">
            <div class="title">
                לפרטים נוספים
            </h1>
            <p class="subtitle">
                אירית גוריון: 0526941141
            </p>
        </div>
    </footer>

    <script src="theme/js/fontawesome.min.js"></script>
    <script src="theme/js/bulma-carousel.min.js"></script>
    <script src="theme/js/main.js"></script>

</body>
</html>
