/* RTL */

body {
    direction: rtl;
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}


/* Panels mods */

.box > p {
    margin: 2em 0em 2em 0em;
}
